.spacer {
  padding-top: 30px;
}

.underline {
  width: 50px;
  margin-top: 20px;
  border-bottom: 2px solid #a1bdd3;

  margin-left: 650px;
}

.contactH1 {
  font-family: Georgia, serif;
  color: #a08bca;
}
